<ion-content padding='true' class="backgrounded">
  <div id="content-wrapper">
    <div id="logo-with-text">
      <img id="app-logo" src="../../../assets/images/logo-white.png" alt="Top Banner">
    </div>
    <div class="welcome-text-main">
      <div class="welcome-text">
        <h3 class="bigger-text ion-text-uppercase ion-text-center">Forgot Password?</h3>
        <h4 class="smaller-text ion-text-center">Enter your email to change password</h4>
      </div>

      <section id="section-main-content">
        <form [formGroup]="forgotPassForm" (ngSubmit)="submitNewPassword()">
          <ion-grid class="underlined">
            <ion-row class="ion-no-padding ion-align-items-center">
              <ion-col size="1" class="ion-no-padding">
                <img class="input-icon" src="../../../assets/images/padlock.png" alt="icon">
              </ion-col>
              <ion-col size="11" class="ion-no-padding">
                <ion-input required type="text" placeholder="Enter OTP" formControlName="otp"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.otp">
              <div class="error-message"
                *ngIf="forgotPassForm.get('otp').hasError(validation.type) && (forgotPassForm.get('otp').dirty || forgotPassForm.get('otp').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span class="error-text">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

          <ion-grid class="underlined">
            <ion-row class="ion-no-padding ion-align-items-center">
              <ion-col size="1" class="ion-no-padding">
                <img class="input-icon" src="../../../assets/images/padlock.png" alt="icon">
              </ion-col>
              <ion-col size="11" class="ion-no-padding">
                <ion-input required type="text" placeholder="Enter New Password" formControlName="new_pass"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.new_pass">
              <div class="error-message"
                *ngIf="forgotPassForm.get('new_pass').hasError(validation.type) && (forgotPassForm.get('new_pass').dirty || forgotPassForm.get('new_pass').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span class="error-text">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

          <ion-grid class="underlined">
            <ion-row class="ion-no-padding ion-align-items-center">
              <ion-col size="1" class="ion-no-padding">
                <img class="input-icon" src="../../../assets/images/padlock.png" alt="icon">
              </ion-col>
              <ion-col size="11" class="ion-no-padding">
                <ion-input required type="text" placeholder="Confirm Password"
                  formControlName="confirm_pass"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.confirm_pass">
              <div class="error-message"
                *ngIf="forgotPassForm.get('confirm_pass').hasError(validation.type) && (forgotPassForm.get('confirm_pass').dirty || forgotPassForm.get('confirm_pass').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span class="error-text">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-button fill="solid" class="wpc-button-sm-blue ion-text-uppercase" color="primary" expand="full"
                  type="submit">Submit</ion-button>
              </ion-col>
              <ion-col size="12" class="ion-text-center">
                <ion-button fill="solid" class="wpc-button-sm-red ion-text-uppercase" color="tertiary" expand="full"
                  (click)="returnToLogin()">Cancel</ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>
        </form>
      </section>
    </div>
  </div>
</ion-content>